/* $Id: dashboard.css 296 2010-09-29 20:32:23Z roland $
 * $Revision: 296 $
 * $HeadURL: svn+ssh://ipenburg.xs4all.nl/srv/svnroot/claudine/trunk/widget/style/opera.css $
 * $Date: 2010-09-29 22:32:23 +0200 (Wed, 29 Sep 2010) $
 */

.flipper {
	bottom: 36px;
	right: 16px;
}

.done {
	bottom: 26px;
	right: 0;
	text-align: center;
	width: 100%;
}

.done > div > div {
	vertical-align: top;
}

.flipper:after, .done:after, .info .flag:before, .info .flag:after {
	content: '';
}

.back {
	background-image: url("../images/bg_208x208_shadow_flipped.png");
}

.spinner, .spinner div {
	bottom: 40px;
}

