/* $Id: opera.css 417 2011-03-26 20:28:05Z roland $
 * $Revision: 417 $
 * $HeadURL: svn+ssh://ipenburg.xs4all.nl/srv/svnroot/claudine/trunk/widget/style/opera.css $
 * $Date: 2011-03-26 21:28:05 +0100 (Sat, 26 Mar 2011) $
 */

.flipper, .done {
	font-weight: normal;
	font-size: 18px;
	left: 174px;
	top: 168px;
}

.spinner, .spinner div {
	bottom: 40px;
}
