* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	text-align: center;
	background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-image: url("../images/bg_320.jpg");
	background-position: 50% 0;
	-webkit-background-size: 320px 320px;
}

body, a {
	color: rgb(223, 223, 255);
}

body, p, div {
	font-size: 11px;
	font-family: "Helvetica Neue", Verdana, sans-serif;
	font-weight: 800;
}

.initial p {
	margin: 10px;
	margin-top: 40px;
}

.pipe {
	display: none;
}

.initial, .front, .back {
	width: 208px;
	height: 208px;
	margin: auto;
	overflow: hidden;
}

.back {
 	display: none;
}
 
.flipper, .done {
	font-size: 16px;
	position: absolute;
	display: block;
	text-decoration: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
}

body:hover .flipper, body:hover .done {
	color: rgba(255, 255, 255, .9);
}

.info, .about {
	width: 100%;
}

.info {
	text-align: center;
}

.info div {
	display: inline-block;
	background-repeat: no-repeat;
}

/* Work arounds for CSS3 like
.info div:nth-last-child(16),
.info div:nth-last-child(16) ~ div,
*/

.amount1 div {
	width: 160px;
	height: 160px;
	background-image: url("../images/eva_160.png");
	background-position: 34px 0px;
	background-repeat: no-repeat;
}

.amount2 div,
.amount3 div,
.amount4 div {
	width: 80px;
	height: 80px;
	background-image: url("../images/eva_80.png");
	background-position: 17px 0px;
	background-repeat: no-repeat;
}

.amount5 div,
.amount6 div,
.amount7 div,
.amount8 div,
.amount9 div {
	width: 53px;
	height: 53px;
	background-image: url("../images/eva_53.png");
	background-position: 12px 0px;
	background-repeat: no-repeat;
}

.amount10 div,
.amount11 div,
.amount12 div,
.amount13 div,
.amount14 div,
.amount15 div,
.amount16 div {
	width: 40px;
	height: 40px;
	background-image: url("../images/eva_40.png");
	background-position: 8px 0px;
	background-repeat: no-repeat;
}

.about {
	padding: 0px 6px 6px 6px;
}

h1 {
        font-size: 12px;
        font-family: Verdana, sans-serif;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        letter-spacing: -1px;
        word-spacing: 1px;
        margin: 0 0;
        padding-top: 5px;
        padding-bottom: 0;
        width: 100%;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: .5em 1em 1em 1em;
	list-style-type: none;
	text-align: center;
}

ul li {
	margin-top: .3em;
}

.spinner, .spinner div {
	z-index: 30;
}

.spinner {
	height: 0;
}

.spinner div {
	width: 20px;
	height: 20px;
	background-image: url("../images/spinner_radar.png");
	display: none;
}

.initial, .front, .back {
	padding: 10px 14px 18px 14px;
	width: 180px;
	height: 180px;
}

.flipper, .done, .spinner {
	position: absolute;
}

.spinner, .spinner div {
	left: 16px;
	bottom: 54px;
}

.info, .about {
	margin: 10px;
	width: 160px;
}

.about {
	padding-top: 5px;
}

.about a:hover {
	text-decoration: underline;
}

@media (min-device-width: 320px) {

	body {
		background-image: url("../images/bg.jpg");
		-webkit-background-size: cover;
	}

}

@media (-webkit-min-device-pixel-ratio: 1.5) {

	.spinner div {
		background-image: url("../images/spinner_radar_40x40.png");
		background-size: 20px 20px;
	}

	.amount1 div,
	.amount2 div,
	.amount3 div,
	.amount4 div,
	.amount5 div,
	.amount6 div,
	.amount7 div,
	.amount8 div,
	.amount9 div,
	.amount10 div,
	.amount11 div,
	.amount12 div,
	.amount13 div,
	.amount14 div,
	.amount15 div,
	.amount16 div {
		background-image: url("../images/eva_160.png");
		background-size: 23px 40px;
	}

	.amount1 div {
		background-size: 91px 160px;
	}

	.amount2 div,
	.amount3 div,
	.amount4 div {
		background-size: 46px 80px;
	}

	.amount5 div,
	.amount6 div,
	.amount7 div,
	.amount8 div,
	.amount9 div {
		background-size: 30px 53px;
	}

}
